Pauls CSS body {
  background-color: red;
  color: #3e2f2f;
  ;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;

}

form,
input,
button {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.form-section {
  width: 40%;
  padding: 30px;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.posts-section {
  width: 60%;
  padding: 20px;
  overflow: auto;
  background: #f5f5f5;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
}

li {
  list-style: none;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #1d4ed8;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

input,
select,
textarea {
  background-color: #fffaf7;
  border: 1px solid #d8cfc7;
}

h1 {
  color: #ffffff;
  margin: 30%;
}